nav{
    background-color: rgb(13, 88, 157);
}

.navbar-nav .nav-item .nav-link {
    color: azure;
}

.navbar-nav {
    text-align: end;
}
.main-body{
    background-color: rgb(166, 223, 259);
}
h1{
    margin: 5px 570px;
}
